<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
  <li>
    <ol><button routerLink="home" mat-flat-button><h2>Home</h2></button></ol>
    <ol><button routerLink="usuarios" mat-flat-button><h2>Usuarios</h2></button></ol>
    <ol> <button routerLink="cursos" mat-flat-button><h2>Cursos</h2></button></ol>
  </li> 
  </mat-drawer>
  <mat-toolbar>
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-drawer-container>





